
<% if (is_tag()) { %>
    <%- partial('_page/tag', {pagination: config.tag, index: true}) %>
<% } else { %>
    <div class="container tag">
        <h1 class="tag-title"><%- __('tags') %></h1>
        <div class="tag-subtitle">
            <span class="iconfont icon-tags tag-icon"></span> <%= site.tags.length %> <%- __('tags') %>
        </div>
        <div class="tag-tags">
          <% site.tags.each(function (tag) { %>
            <a href="<%-url_for(tag.path)%>" class="tag-length-small">
                <span class="iconfont icon-tags tag-icon tag-length-small"></span> <span class="tag-length-small"><%- tag.name%></span>
            </a>

          <% }) %>
        </div>
    </div>
<% } %>
