<div class="container archive">
    <h1 class="archive-title"><%= __('archive') %></h1>
    <div class="archive-subtitle">
        <span class="iconfont icon-post archive-icon"></span> <%= site.posts.length %> <%= __('posts') %>
    </div>

    <% var cur_date = ''; %>
    <% page.posts.each(function (post) { %>
        <% if (!post.album || post.album === false){ %>
            <% var post_date = date(post.date, theme.date.month); %>

            <% if(post_date !== cur_date){ %>
                <h4 class="archive-date"><%- post_date %></h4>
                <% cur_date = post_date; } %>


            <div class="archive-post">
                <h4 class="archive-post-title">
                    <a href="<%-url_for(post.path)%>"><%= post.title %></a>
                </h4>
                <p>
                    <% if ( post.excerpt){ %>
                        <%- post.excerpt %>
                    <% } else { %>
                        <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 250) %>
                    <% } %>
                </p>
                <span class="archive-post-date"><%= date(post.date, theme.date.day) %></span>
                <a href="<%-url_for(post.path)%>">
                    <span class="archive-more iconfont icon-post"></span>
                </a>
            </div>
        <% } %>

    <% }) %>
    <%- partial('../_partials/paginator') %>
</div>