<div class="container archive">
    <h1 class="archive-title"><span class="iconfont icon-icon-goodscategory category-icon"></span>&nbsp;<%=page.category%></h1>
    <div class="archive-subtitle">
        <%= page.posts.length %> <%- __('posts') %>
    </div>
    <% var cur_date = ''; %>
    <% page.posts.each(function (post) { %>
        <% var post_date = date(post.date, theme.date.month); %>

        <% if(post_date !== cur_date){ %>
            <h4 class="archive-date"><%- post_date %></h3>
        <% cur_date = post_date; } %>

        <li class="archive-post">
            <a class="archive-post-link" href="<%- url_for(post.path) %>">
                <span class="archive-post-title"><%= post.title %></span>
                <span class="archive-post-date"><%= date(post.date, theme.date.day) %></span>
            </a>
        </li>

    <% }) %>
    <%- partial('../_partials/paginator') %>
</div>