<div class="container">
    <div class="profile">
        <h1 class="profile-title"><%- theme.profile_title%></h1>
        <h5 id="hitokoto"></h5>
        <div class="logo-group">
            <% if (theme.links !== undefined) { %>
                <% for (var key in theme.links){ %>
                    <% if (key === "linkedin" || key === "facebook") { %>
                        <a class="iconfont icon-<%- key %>-box-line" href="<%= theme.links[key] %>"></a>
                    <% } else { %>
                        <a class="iconfont icon-<%- key %>-line" href="<%= theme.links[key] %>"></a>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="profile-posts">
        <% site.posts.sort('date', -1).map((post, index) => { %>
            <% if (index < 5) { %>
                <div class="profile-post">
                    <h4 class="profile-post-title">
                        <a href="<%-url_for(post.path)%>"><%= post.title %></a>
                    </h4>
                    <p>
                        <% if (post.excerpt){ %>
                            <%- post.excerpt %>
                        <% } else { %>
                            <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 250) %>
                        <% } %>
                    </p>
                    <span class="profile-date"><%= date(post.date, theme.date.day) %></span>
                    <a href="<%-url_for(post.path)%>">
                        <span class="profile-more iconfont icon-post"></span>
                    </a>
                </div>
            <% } %>
        <% }) %>
        <% if (site.posts.length >= 5) { %>
            <ul class="pagination" >
              <li class="page-item profile-more-button">
                <a class="page-link" href="/archives">More</a>
              </li>
            </ul>
        <% } %>
    </div>
</div>



<!-- 一言API -->
<!-- 现代写法，推荐 -->
<!-- 兼容低版本浏览器 (包括 IE)，可移除 -->
<script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
<!--End-->
<script>
fetch('https://v1.hitokoto.cn?c=d&c=a&c=j')
    .then(function (res){
    return res.json();
    })
    .then(function (data) {
    var hitokoto = document.getElementById('hitokoto');
    hitokoto.innerText = data.hitokoto;
    })
    .catch(function (err) {
    console.error(err);
    })
</script>
