<div class="container category archive">
    <h1 class="archive-title"><span class="iconfont icon-tags tag-icon"></span>&nbsp;<%=page.tag%></h1>
    <div class="archive-subtitle">
       <%= page.posts.length %> <%- __('posts') %> 
    </div>
    <% page.posts.each(function (post) { %>

        <li class="category-post">
            <a href="<%- url_for(post.path) %>">
                <span class="category-post-name"><%= post.title %></span>
                <span class="category-post-date"><%= date(post.date, theme.date.day) %></span>
            </a>
        </li>

    <% }) %>
    <%- partial('../_partials/paginator') %>
</div>